
body {
    background-color: #FAF3E0;
}
 
#design-col {
    background-color: #CD9C27;
    float: right;
    height: 800px;
    width: 300px;
    
}
 
#header-button {
    padding: 30px;
    width: 450px;
    border: 2px solid #CD9C27;
    border-radius: 40px;
    background-color: #CD9C27;
    font-size: 64px;
    text-align: center;
    margin-top: 50px;
    margin-left: 375px;
    margin-bottom: 75px;
}
 
input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #FAF3E0;
    border-bottom-color: black;
    margin-bottom: 20px;
 
  }
::placeholder {
    color: black;
}
.input-field {
    outline: none;
    font-size: 20px;
    color: black;
    width: 900px;
    padding: 10px;
    margin-left: 150px;
}
 
 
#footer-button {
    background-color: #EABF9F;
    width: 900px;
    padding: 20px;
    border: 2px solid #EABF9F;
    border-radius: 35px;
    margin-top: 90px;
}
 
#large-font-footer {
    font-size: 20px;
 
}
 
#log-in-link {
    text-align: center;
    outline: none;
    margin-top: 70px;
    margin-left: 470px;
    color:black;
}
 
#log-in-link:hover {
    color: #CD9C27;
}
