body {
  position: relative;
  width: 1440px;
  height: 1024px;

  background: #FAF3E0;
}
#ProfilePic {
     position: absolute;
  width: 256px;
  height: 256px;
  border-radius: 256px;
  border: rgb(182, 147, 121) solid 2px; 
  left: 47px;
  top: 117px;
    background-color: #EABF9F;
}
#PPButton {
    position: absolute;
width: 70px;
height: 70px;
left: 247px;
top: 273px;

background: rgb(182, 147, 121);
  border: rgb(182, 147, 121) solid 2px; 
box-sizing: border-box;
border-radius: 50px;
}
#PPButton:hover {
  background: rgb(199, 168, 144);
  background-repeat: no-repeat;
  /* background-image: url(/Images/Image_Icon.jpg); */
  background-position: center;
  background-size: 40px;
  cursor: pointer;
}
#ON {
position: absolute;
width: 313px;
height: 45px;
left: 353px;
top: 135px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 42px;

color: rgba(0, 0, 0, 0.6);
}
#EA {
position: absolute;
width: 234px;
height: 42px;
left: 353px;
top: 215px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 42px;

color: rgba(0, 0, 0, 0.6);
}
#P {
position: absolute;
width: 160px;
height: 42px;
left: 350px;
top: 295px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 42px;

color: rgba(0, 0, 0, 0.6);
}
#E1 {
position: absolute;
width: 42px;
height: 28px;
left: 353px;
top: 175px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;

color: rgba(0, 0, 0, 0.2);
}
#E2 {
    position: absolute;
width: 90px;
height: 33px;
left: 353px;
top: 255px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;

color: rgba(0, 0, 0, 0.2);
}
#E3 {
    position: absolute;
width: 42px;
height: 28px;
left: 350px;
top: 335px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;

color: rgba(0, 0, 0, 0.2);
}
.H-TurnOut {
position: absolute;
width: 300px;
height: 300px;
z-index: 1;
left: 47px;
top: 901px;

font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 1px;

text-align: center;
color: #FFFFFF;
}
.nav{
  position: absolute;
width: 1440px;
height: 66px;
left: 0px;
top: 0px;
background-color: #CD9C27;
}
.corner{
  
position: absolute;
width: 126px;
height: 43px;
left: 72%;
top: 15px;
cursor:pointer;
}

.corner:hover{
  
color: #fff;

  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2)
}
.corner2{
  position: absolute;
width: 126px;
height: 43px;
left: 80%;
top: 15px;
cursor:pointer;

}
.corner2:hover{
  
  color: #fff;

  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2)
}
.corner3{
  position: absolute;
  width: 126px;
  height: 43px;
  left: 87%;
top: 15px;
  cursor:pointer;
}
.corner3:hover{ 
  color: #fff;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2)
}
#line17 {
  position: absolute;
  width: 1365px;
  height: 0px;
  left: 47px;
  top: 453px;

  border: 1px solid rgb(182, 147, 121);
}

/* Under the Line */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  left: 99px;
  top: 471px;

}
li {
  float: left;
}
li a {
  display: block;
  color: #7a7a7a;
  text-align: center;
  padding: 14px 36px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
}
li a:hover:not(.active) {
  color: #b8b8b8;
}
.active {
  color: #000000;
  font-weight: 900;
}
/* Footer */
#rectangle46 {
    position: absolute;
width: 1440px;
height: 197px;
left: 0px;
top: 827px;

background: #CD9C27;
}
#F-TurnOut {
position: absolute;
width: 300px;
height: 300px;
left: 47px;
top: 901px;

font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 1px;

text-align: center;
color: #FFFFFF;
}
#General {
    position: absolute;
width: 121px;
height: 24px;
left: 511px;
top: 861px;

font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 1px;

text-align: center;
color: #FFFFFF;
}
#Terms {
    position: absolute;
width: 166px;
height: 24px;
left: 488px;
top: 900px;

font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 1px;

text-align: center;
color: #FFFFFF;
}
#About {
    position: absolute;
width: 166px;
height: 24px;
left: 488px;
top: 935px;

font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 1px;

text-align: center;
color: #FFFFFF;
}
#Privacy {
    position: absolute;
width: 166px;
height: 24px;
left: 488px;
top: 974px;

font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 1px;

text-align: center;
color: #FFFFFF;
}
#Help {
    position: absolute;
width: 121px;
height: 24px;
left: 912px;
top: 863px;

font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 1px;

text-align: center;
color: #FFFFFF;
}
#Contact {
    position: absolute;
width: 166px;
height: 24px;
left: 887px;
top: 897px;

font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 1px;

text-align: center;
color: #FFFFFF;
}
#FAQ {
    position: absolute;
width: 166px;
height: 24px;
left: 889px;
top: 930px;

font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 1px;

text-align: center;
color: #FFFFFF;
}